.btn {
	background: none;
	color: var(--btn-color);
	border: solid;
	border-width: 0.05rem;
	border-radius: 5px;
	transition: 0.4s;
	margin: 0.459rem;
	padding: 0.666rem;

}

.btn-normal {
	background: var(--btn-normal-bg);
	border-color: var(--btn-normal-bg);
}

.btn-success {
	background: var(--btn-success-bg);
	border-color: var(--btn-success-bg);
}

.btn-warning {
	background: var(--btn-warning-bg);
	border-color: var(--btn-warning-bg);
}

.btn-danger {
	background: var(--btn-danger-bg);
	border-color: var(--btn-danger-bg);
}

.btn-dark {
	background: var(--btn-dark-bg);
	border-color: var(--btn-dark-bg);
}

/* Outline*/
.btn-outline-normal {
	background: none;
	color: var(--btn-outline-normal-color);
	border-color: var(--btn-outline-normal-bg);
}

.btn-outline-normal:hover {
	background: var(--btn-outline-normal-bg);
	color: var(--btn-color);

}

.btn-outline-success {
	color: var(--btn-outline-success-color);
	border-color: var(--btn-outline-success-bg);
}

.btn-outline-success:hover {
	color: var(--btn-color);
	background: var(--btn-outline-success-bg);
}


.btn-outline-warning {
	color: var(--btn-outline-warning-color);
	border-color: var(--btn-outline-warning-bg);
}

.btn-outline-warning:hover {
	color: var(--btn-color);
	background: var(--btn-outline-warning-bg);
}

.btn-outline-danger {
	color: var(--btn-outline-danger-color);
	border-color: var(--btn-outline-danger-bg);
}

.btn-outline-danger:hover {
	color: var(--btn-color);
	background: var(--btn-outline-danger-bg);
}

.btn-outline-dark {
	color: var(--btn-outline-dark-color);
	border-color: var(--btn-outline-dark-bg);
}

.btn-outline-dark:hover {
	color: white;
	background: var(--btn-outline-dark-bg);
}

.btn-rounded {
	border-radius: 20px;
}

.btn-fullwidth {
	min-width: 100%;
}

.btn-group {
	margin: 5px;
}

.btn-group .btn {
	cursor: pointer;
	float: left;
	margin: 0;
	border-width: 0.05rem;
	border-radius: 0px;
	border-left: none;
	border-right: none;
}

.btn-group .btn:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn-group .btn:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}