.btn {
	margin: 5px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	color: var(--btn-color);
	background: var(--btn-bg);
	transition: 0.4s;
}


.btn-rounded {
	border-radius: 50px;
}


.btn-outline-basic {
	color: var(--btn-outline-basic);
	border: solid;
	border-width: 0.5px;
	border-color: var(--btn-outline-basic);
	background: none;
}

.btn-outline-basic:hover {
	color: var(--btn-outline-outline-hover);
	transition: 0.4s;
	background: var(--btn-outline-basic);;
}

.btn-outline-success {
	color: var(--btn-outline-success);
	border: solid;
	border-width: 0.5px;
	border-color: var(--btn-outline-success);
	background: none;
}

.btn-outline-success:hover {
	color: var(--btn-outline-outline-hover);
	transition: 0.4s;
	background: var(--btn-outline-success);;
}


.btn-outline-warning {
	color: var(--btn-outline-warning);
	border: solid;
	border-width: 0.5px;
	border-color: var(--btn-outline-warning);
	background: none;
}

.btn-outline-warning:hover {
	color: var(--btn-outline-outline-hover);
	transition: 0.4s;
	background: var(--btn-outline-warning);;
}

.btn-outline-danger {
	color: var(--btn-outline-danger);
	border: solid;
	border-width: 0.5px;
	border-color: var(--btn-outline-danger);
	background: none;
}

.btn-outline-danger:hover {
	color: var(--btn-outline-outline-hover);
	transition: 0.4s;
	background: var(--btn-outline-danger);;
}