.footer {
	position: relative;
	z-index: 0;
  bottom: 0;
  background: var(--footer-bg);
  min-height: 10%;
  padding: 0.625rem;
  
}

.footer-title {
	font-size: 1.25rem;
}

.footer-row {
	margin: 0.313rem;
}

@media only screen and (min-width: 600px) {
	.footer-row {
		display: flex;
	}

	.footer-col {
		flex: 1%;
	}

}


@media only screen and (max-width: 600px) {
	.footer-row {
		display: flex;
		flex-flow: column;
	}

	.footer-col {
		flex: 1%;
		padding: 0.313rem;
	}

}

.footer-horizontal-link {
	display: flex;
	flex-flow: row;
	margin: 6px 0rem;
}

.footer-horizontal-link>a {
	text-decoration: none;
	font-size: 1rem;
	padding: 0.313rem;
}

.footer-vertical-link {
	display: flex;
	flex-flow: column;
	margin: 6px 0px;
}

.footer-vertical-link>a {
	text-decoration: none;
	font-size: 1rem;
}

.footer-description {
	margin: 0.313rem;
	font-size: 16px;
}

.footer-social-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}


.footer-social-icon-group {
	display: flex;
	flex-flow: row;
}

.footer-social-icon-group>* {
	padding: 0.313rem;
}


.footer-copyright {
	margin: 0.313rem 0rem;
	text-align: center;
	font-size: 1rem;
}