.footer {
	margin: 0px;
	padding: 10px;
	background: green;
}

.footer-title {
	font-size: 20px;
}

.footer-row {
	margin: 5px;
}

@media only screen and (min-width: 600px) {
	.footer-row {
		display: flex;
	}

	.footer-col {
		flex: 1%;
	}

}


@media only screen and (max-width: 600px) {
	.footer-row {
		display: flex;
		flex-flow: column;
	}

	.footer-col {
		flex: 1%;
		padding: 5px;
	}

}

.footer-vertical-link {
	flex-flow: column;
	margin:6px 0px;
}

.footer-vertical-link>a {
	text-decoration: none;
	font-size: 15px;
}

.footer-description {
	margin: 5px;
	font-size: 16px;
}

.footer-social-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}


.footer-social-icon-group{
	display: flex;
	flex-flow: row;
}

.footer-social-icon-group>*{
	padding: 5px;
}


.footer-copyright{
	margin: 15px 0px;
	text-align: center;
	font-size: 15px;
}
