.spinner {
  border: 0.063rem solid #FFFFFF; 
  border-top: 0.063rem solid var(--normal-color);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 0.6s linear infinite;
  margin: 0.313rem;
}

.spinner-double{
	border-bottom: 0.063rem solid #3498db;
}

.spinner-big{
	width: 3.75rem;
  height: 3.75rem;
}


.spinner-small{
	width: 1.25rem;
  height: 1.25rem;
}

.spinner-fast{
	animation: spin 0.4s linear infinite;
}

.spinner-slow {
	animation: spin 1s linear infinite;
}

.spinner-basic{
	border-top: 0.063rem solid var(--normal-color);
}

.spinner-success {
	border-top: 0.063rem solid var(--success-color);
}

.spinner-warning {
	border-top: 0.063rem solid var(--warning-color);
}


.spinner-danger {
	border-top: 0.063rem solid var(--danger-color);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}