.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}