:root {
	--normal-color: #00E2FF;
	--success-color: #00F547;
	--warning-color: #FFB500;
	--danger-color: red;
	--body-bg: #f0f0f0;
	--body-color: black;
	--accordion-header-bg: var(--normal-color);
	--accordion-header-color: black;
	--accordion-body-bg: #BFBFBF;
	--accordion-body-color: black;
	--sub-accordion-header-bg: white;
	--sub-accordion-header-color: black;
	--accordion-icon:"V";
	--btn-color: black;
	--btn-normal-bg: var(--normal-color);
	--btn-success-bg: var(--success-color);
	--btn-warning-bg: var(--warning-color);
	--btn-danger-bg: var(--danger-color);
	--btn-outline-normal-bg: var(--normal-color);
	--btn-outline-success-bg: var(--success-color);
	--btn-outline-warning-bg: var(--warning-color);
	--btn-outline-danger-bg: var(--danger-color);
	--btn-outline-normal-color: var(--normal-color);
	--btn-outline-success-color: var(--success-color);
	--btn-outline-warning-color: var(--warning-color);
	--btn-outline-danger-color: var(--danger-color);
	--navbar-bg: white;
	--navbar-title-color: black;
	--navbar-icon-size: 30px;
	--navbar-avatar-size: 30px;
	--navbar-item-color: black;
	--navbar-item-hover-bg: var(--normal-color);
	--navbar-item-hover-color: black;
	--navbar-subitem-color: black;
	--navbar-subitem-hover-bg: var(--normal-color);
	--navbar-subitem-hover-color: black;
	--offcanvas-bg: white;
	--offcanvas-title-color: black;
	--offcanvas-btn-control-color: black;
	--offcanvas-nav-item-color: black;
	--offcanvas-nav-item-hover-color: #FF0202;
	--offcanvas-nav-item-hover-bg: #79FFD0;
	--modal-bg: white;
	--modal-title-color: green;
	--input-field-focus: var(--normal-color);
	--switch-bg: #ccc;
	--switch-checked-bg: var(--normal-color);
	--switch-border: var(--normal-color);
	--switch-btn-bg: white;
	--footer-bg: #f0f0f0;
}