@import "./Library/animate.min.css";
@import "./theme.css";
@import "./Display/text.css";
@import "./Display/grid.css";
@import "./Display/options.css";
@import "./Display/container.css";
@import "./Components/button.css";
@import "./Components/navbar.css";
@import "./Components/accordion.css";
@import "./Components/offcanvas.css";
@import "./Components/overlay.css";
@import "./Components/modal.css";
@import "./Components/card.css" ;
@import "./Components/form.css" ;
@import "./Components/spinner.css";
@import "./Components/switch.css";
@import "./Components/footer.css";
* {
	margin: 0;
	padding: 0;
}


html {
	font-family: Arial, Helvetica, sans-serif;
}


body {
	position: relative;
	background: var(--body-bg);
	color: var(--body-color);
}


a.link{
	text-decoration: none;
	cursor: none;
}

a.link:hover{
	text-decoration: underline;
}